<!DOCTYPE html>
<html lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Epan</title>
<!-- Bootstrap Core CSS --><link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS --><link href="css/clean-blog.min.css" rel="stylesheet">
<!-- Custom Fonts --><link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries --><!-- WARNING: Respond.js doesn't work if you view the page via file:// --><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--><!--xEpan-ATK-Header-Start
    {$js_block}
    {$js_include}
    <script type="text/javascript">
      $(function(){
        {$document_ready}
      });
    </script>
    xEpan-ATK-Header-End-->
</head>
<body>
<!-- Navigation -->
    

    

<!-- Footer -->





<div id="9e7b07fc-3589-47df-8ff0-05c2ba3a0c5d" xepan-component="xepan/cms/Tool_Container" emptytext="Container" style="width: auto; margin: 0px auto;" class="xepan-component xepan-sortable-component xepan-cms-container ui-sortable s-header-v2 navbar-fixed-top s-header js__header-sticky js__header-overlay" data-extra-classes="navbar-fixed-top s-header js__header-sticky js__header-overlay" scrollamount=""><div id="1220c6db-4ac3-40eb-b5aa-3dea6869c9dd" xepan-component="xepan/cms/Tool_Container" emptytext="Container" style="width: auto; margin: 0px auto;" class="xepan-component xepan-sortable-component xepan-cms-container ui-sortable s-header-v2__navbar" data-extra-classes="s-header-v2__navbar">
<div id="2c89e911-6f85-4928-e6e0-2fd32e3c05d9" xepan-component="xepan/cms/Tool_Container" emptytext="Container" style="width:85%;margin:0 auto;" class="xepan-component xepan-sortable-component xepan-cms-container ui-sortable container g-display-table--lg" data-extra-classes="container g-display-table--lg" scrollamount=""><div xepan-component="xepan/cms/Tool_Columns" style="min-height:20px;" class="row xepan-component" id="dd8de04b-a054-4ce4-9b37-8bd01e88b5f8">
  
  
  <div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="2" data-md="2" data-sm="12" data-xs="12" class="xepan-cms-column col-sm-12 col-xs-12 xepan-sortable-component xepan-component ui-sortable col-lg-2 col-md-2 s-header-v2__navbar-col s-header-v2__navbar-col-width--180" id="ea5ba618-55d8-4f99-8375-4e1861d43e11" scrollamount="" data-extra-classes="s-header-v2__navbar-col s-header-v2__navbar-col-width--180">

<div id="5b4c6fd1-de30-4253-d25c-b24cc74c9654" xepan-component="xepan/cms/Tool_Container" emptytext="Container" style="" class="xepan-component xepan-sortable-component xepan-cms-container ui-sortable s-header-v2__logo" data-extra-classes="s-header-v2__logo" scrollamount=""><div id="0c7ac731-faf0-4501-9325-8ab8339c0274" xepan-component="xepan/cms/Tool_Container" emptytext="Container" style="width: auto; margin: 0px auto;" class="xepan-component xepan-sortable-component xepan-cms-container ui-sortable s-header-v2__logo-link" data-extra-classes="s-header-v2__logo-link">
<div id="95a2920e-1afc-45bd-9ee8-499dd66e9b0a" xepan-component="xepan/cms/Tool_Image" class="xepan-component hidden-xs hidden-sm s-header-v2__logo-img s-header-v2__logo-img--default" data-extra-classes="hidden-xs hidden-sm s-header-v2__logo-img s-header-v2__logo-img--default" scrollamount="" style=""><img src="img/logo-white.png" style="" data-extra-classes="" alt="Image" class="ui-resizable"></div>
<div id="1704e174-ecf3-4ad2-a7b2-701eaa958417" xepan-component="xepan/cms/Tool_Image" class="xepan-component s-header-v2__logo-img s-header-v2__logo-img--shrink" style="" data-extra-classes="s-header-v2__logo-img s-header-v2__logo-img--shrink" scrollamount=""><img src="img/logo.png" style="" data-extra-classes="" alt="Image" class="ui-resizable"></div>
</div></div>
</div>
<div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="10" data-md="10" data-sm="12" data-xs="12" class="xepan-cms-column xepan-sortable-component xepan-component col-sm-12 col-xs-12 ui-sortable col-lg-10 col-md-10" id="1dfca026-31e8-4aa8-f09e-a49e6ef96a1d"><nav id="0293f7ec-abe3-4a3f-9b61-b547d5a42138" style="display: block;" role="navigation" xepan-component="xepan/cms/Tool_BootStrapMenu" xbootmenu-align="right" class="navbar navbar-default xepan-component xepan-bootstrap-megakit-menu" scrollamount="" data-extra-classes="xepan-bootstrap-megakit-menu"><div class="navbar-header">
    <button type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    <div class="navbar-brand-wrapper navbar-brand"><a title="" class="xepan-brand" href="index"></a></div>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul id="xepan-boostrap-ul" class="nav navbar-nav navbar-right">
<li class="dropdown dropdown-submenu">
<a href="?page=index" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home <span class="caret"></span></a><ul class="dropdown-menu"><li><a href="?page=home1">home 1</a></li></ul>
</li>
<li><a href="?page=page">Pages</a></li>
<li><a href="?page=about">About</a></li>
<li><a href="?page=services">Services</a></li>
<li><a href="?page=contact">Contacts</a></li>
</ul>
</div>
  <script>
    $(document).ready(function(){
    	$('#94873711__pan_cms_tool_bootstrapmenu .dropdown-toggle').dropdown();
    	
    	$('#94873711__pan_cms_tool_bootstrapmenu .dropdown-submenu a').on("click", function(e){
    	    $(this).next('ul').toggle();
    	    e.stopPropagation();
    	    e.preventDefault();
    	});
    });
  </script></nav></div>
<div class="xepan-component-hoverbar"></div>
</div></div>

</div></div>
<div id="763ecf13-07b9-4ad1-811b-cf210f7cf45e" xepan-component="xepan/cms/Tool_Container" emptytext="Container" style="width: auto; margin: 0px auto;" class="xepan-component xepan-sortable-component xepan-cms-container ui-sortable">

<div id="e40d831a-07ab-4fa9-8166-46d886d2a2e5" xepan-component="xepan/cms/Tool_TemplateContentRegion" emptytext="Page Content" class="xepan-component xepan-page-wrapper ui-sortable" style="min-height: 200px;">{$Content}</div>

<div class="xepan-cms-tool undefined ui-draggable" data-toolname="xepancmsTool_BootStrapMenu" style="display: none;">
<img src="./vendor/xepan/cms/templates/images/default_icon.png" onerror='this.src="./vendor/xepan/cms/templates/images/default_icon.png"'><p>BootStrapMenu</p>
</div>
</div>
<div id="c1421bae-0548-420f-8b12-f0400364504f" xepan-component="xepan/cms/Tool_Container" emptytext="Container" style="width: auto; margin: 0px auto;" class="xepan-component xepan-sortable-component xepan-cms-container ui-sortable g-bg-color--dark" scrollamount="" data-extra-classes="g-bg-color--dark">
<div id="a8345025-e045-4d0d-faf3-25aedaccb024" xepan-component="xepan/cms/Tool_Container" emptytext="Container" style="width: auto; margin: 0px auto;" class="xepan-component xepan-sortable-component xepan-cms-container ui-sortable g-hor-divider__dashed--white-opacity-lightest xepan-megakit-footer" data-extra-classes="g-hor-divider__dashed--white-opacity-lightest xepan-megakit-footer" scrollamount=""><div id="d399033a-a4f7-4f8d-b144-eca51e7460f2" xepan-component="xepan/cms/Tool_Container" emptytext="Container" style="width:85%;margin:0 auto;" class="xepan-component xepan-sortable-component xepan-cms-container ui-sortable container g-padding-y-80--xs" data-extra-classes="container g-padding-y-80--xs">
<div xepan-component="xepan/cms/Tool_Columns" style="min-height:20px;" class="row xepan-component" id="68d2d779-93ce-407a-cd1c-c4b1f52f5dad" scrollamount="">
  <div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="2" data-md="2" data-sm="12" data-xs="12" class="xepan-cms-column col-sm-12 col-xs-12 xepan-sortable-component xepan-component ui-sortable col-lg-2 col-md-2 g-margin-b-20--xs g-margin-b-0--md" id="eeda176f-7f34-448b-da46-4ff84922b186" data-extra-classes="g-margin-b-20--xs g-margin-b-0--md"><div id="9aef88fc-b8e6-4126-fcc3-eb4f4f9d8f62" xepan-component="xepan/cms/Tool_Text" emptytext="Edit this text" class="xepan-component xepan-editable-text mce-content-body" style="position: relative;" contenteditable="false"><ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
<li>
<a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" data-mce-href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Home</a><br data-mce-bogus="1">
</li>
<li>
<a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" data-mce-href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">About</a><br data-mce-bogus="1">
</li>
<li>
<a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" data-mce-href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Work</a><br data-mce-bogus="1">
</li>
<li>
<a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" data-mce-href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">﻿Contact</a><br data-mce-bogus="1">
</li>
</ul></div></div>
  <div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="2" data-md="2" data-sm="12" data-xs="12" class="xepan-cms-column col-sm-12 col-xs-12 xepan-sortable-component xepan-component ui-sortable col-lg-2 col-md-2 g-margin-b-20--xs g-margin-b-0--md" id="228b6e82-fd4a-4d91-f088-45f6514d33a8" data-extra-classes="g-margin-b-20--xs g-margin-b-0--md"><div id="999de843-7ea6-41ed-cb93-8f2fe118917e" xepan-component="xepan/cms/Tool_Text" emptytext="Edit this text" class="xepan-component xepan-editable-text mce-content-body" style="position: relative;" contenteditable="false"><ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
<li>
<a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" data-mce-href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">﻿Twitter</a><br data-mce-bogus="1">
</li>
<li>
<a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" data-mce-href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Facebook</a><br data-mce-bogus="1">
</li>
<li>
<a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" data-mce-href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Instagram</a><br data-mce-bogus="1">
</li>
<li>
<a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" data-mce-href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">YouTube</a><br data-mce-bogus="1">
</li>
</ul></div></div>
  <div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="2" data-md="2" data-sm="12" data-xs="12" class="xepan-cms-column col-sm-12 col-xs-12 xepan-sortable-component xepan-component ui-sortable col-lg-2 col-md-2 g-margin-b-20--xs g-margin-b-0--md" id="5b5fb8d6-eb3f-4adc-996b-14322f86b6f4" data-extra-classes="g-margin-b-20--xs g-margin-b-0--md"><div id="0b487e4e-74f9-42a8-94dc-9a398b4cb88e" xepan-component="xepan/cms/Tool_Text" emptytext="Edit this text" class="xepan-component xepan-editable-text mce-content-body" style="position: relative;" contenteditable="false"><ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
<li>
<a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" data-mce-href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">﻿Subscribe to Our Newsletter</a><br data-mce-bogus="1">
</li>
<li>
<a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" data-mce-href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Privacy Policy</a><br data-mce-bogus="1">
</li>
<li>
<a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" data-mce-href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Terms &amp; Conditions</a><br data-mce-bogus="1">
</li>
</ul></div></div>
<div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="4" data-md="4" data-sm="12" data-xs="12" class="xepan-cms-column xepan-sortable-component xepan-component col-sm-12 col-xs-12 ui-sortable col-lg-4 col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 s-footer__logo g-padding-y-0--md" id="05f2a08a-bcdc-4cdf-952d-887601a0c7b0" data-extra-classes="col-md-offset-2 col-sm-5 col-sm-offset-1 s-footer__logo  g-padding-y-0--md" scrollamount=""><div id="f9f655c2-952d-4089-bad0-91e2eb955c96" xepan-component="xepan/cms/Tool_Text" emptytext="Edit this text" class="xepan-component xepan-editable-text mce-content-body g-font-size-18--xs g-color--white" data-extra-classes="g-font-size-18--xs g-color--white" scrollamount="" style="position: relative;" contenteditable="false">
<h3>Megakit</h3>
<p>We are a creative studio focusing on culture, luxury, editorial &amp; art. Somewhere between sophistication and simplicity.</p>
</div></div>
</div>

</div></div>
<div id="910974d7-7529-4973-8fd9-8070b609618c" xepan-component="xepan/cms/Tool_Container" emptytext="Container" style="" class="xepan-component xepan-sortable-component xepan-cms-container ui-sortable container g-padding-y-50--xs" data-extra-classes="container g-padding-y-50--xs" scrollamount=""><div xepan-component="xepan/cms/Tool_Columns" style="min-height: 20px; margin-left: auto; margin-right: auto;" class="row xepan-component" id="0b987772-562a-4fd6-ebd9-2acc4591c8a3" scrollamount="">
  <div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="6" data-md="6" data-sm="12" data-xs="12" class="xepan-cms-column col-sm-12 col-xs-12 xepan-sortable-component xepan-component ui-sortable col-lg-6 col-md-6" id="b7c95265-1d11-4523-f139-a01515cf5880">
<div id="2f448bab-822e-4076-b754-a345c16a56aa" xepan-component="xepan/cms/Tool_Image" class="xepan-component"><img src="img/logo.png" style="" data-extra-classes="" alt="Image" class="ui-resizable"></div>

</div>
  
  <div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="6" data-md="6" data-sm="12" data-xs="12" class="xepan-cms-column col-sm-12 col-xs-12 xepan-sortable-component xepan-component ui-sortable col-lg-6 col-md-6 text-right" id="1ada8243-97fa-4398-9d14-d24598bca7e3" data-extra-classes="text-right" scrollamount=""><div id="945b3530-b380-494a-de91-2493bd9c3754" xepan-component="xepan/cms/Tool_Text" emptytext="Edit this text" class="xepan-component xepan-editable-text mce-content-body g-font-size-14--xs g-margin-b-0--xs g-color--white-opacity-light" style="position: relative;" data-extra-classes="g-font-size-14--xs g-margin-b-0--xs g-color--white-opacity-light" scrollamount="" contenteditable="false"><p><a href="#" data-mce-href="#">Megakit</a> Theme Powered by: <a href="http://www.xavoc.com/" data-mce-href="http://www.xavoc.com/">Xavoc technocrats Pvt. Ltd.</a><br data-mce-bogus="1"></p></div></div>
</div></div>
</div>
<div></div>
</body>
<script type="text/javascript">
  $(function() {
    var header = $(".s-header");
    $(window).scroll(function() {    
      var scroll = $(window).scrollTop();
        if (scroll <= 100) {
          header.removeClass('s-header__shrink');
        } else {
          header.addClass('s-header__shrink');
        }
      });
    });
</script>
</html>
