
<form class="xepan-megakit-custom-form">
  <div class="row g-margin-b-30--xs g-margin-b-50--md">
    <div class="col-sm-6 g-margin-b-30--xs g-margin-b-0--md atk-form-field atk-form-row xepan-form-v4__input g-padding-l-0--xs">{$full_name}
    </div>
    <div class="col-sm-6 atk-form-field atk-form-row xepan-form-v4__input g-padding-l-0--xs">{$phone_number}
    </div>
  </div>
  <div class="row g-margin-b-50--xs g-margin-b-50--md">
    <div class="col-sm-4 g-margin-b-30--xs g-margin-b-0--md atk-form-field atk-form-row xepan-form-v4__input g-padding-l-0--xs">{$department}
    </div>
    <div class="col-sm-4 g-margin-b-30--xs g-margin-b-0--md atk-form-field atk-form-row xepan-form-v4__input g-padding-l-0--xs">{$doctor}
    </div>
    <div class="col-sm-4 atk-form-field atk-form-row xepan-form-v4__input g-padding-l-0--xs">{$date}
    </div>
  </div>
  <div class="g-margin-b-50--xs xepan-form-v4__input g-padding-l-0--xs">{$message}
  </div>
  <div class="g-text-center--xs m">{$FormButtons}
  </div>
</form>